//- RUBY

-
    function erb(code) {
        return '<%= ' + code + ' %>';
    }

    function erb_cond(cond) {
        return '<% ' + cond + ' %>';
    }

//- BUTTONS

mixin button(id, text)
    button.btn.btn-default(id=id)&attributes(attributes)!= text
        block

mixin button-link(id, href, text)
    a.btn.btn-default(id=id, href=href)&attributes(attributes)!= text
    block

mixin button-icon(id, icon)
    button.btn.btn-default(id=id)&attributes(attributes)
        +icon(icon)
        block

mixin button-with-icon(id, text, icon)
    button.btn.btn-default(id=id)&attributes(attributes)
        +icon(icon)
        | &nbsp;&nbsp;
        != text
        block

mixin button-show-modal(id, text, modal_id)
    +button(id, text)(data-toggle='modal' data-target='#'+modal_id)&attributes(attributes)

mixin button-input(id, text)
    span.input-group-btn
        +button(id, text)&attributes(attributes)

mixin button-group
    .btn-group(role='group')&attributes(attributes)
        block

mixin button-group-radio
    .btn-group(role='group' data-toggle='buttons')&attributes(attributes)
        block

mixin button-group-radio-button(id, text)
    label.btn.btn-default&attributes(attributes)
        input(id=id type='radio' autocomplete='off')
        != text
        block

mixin button-group-radio-button-icon(id, text, icon, textClass)
    label.btn.btn-default&attributes(attributes)
        input(id=id type='radio' autocomplete='off')
        +icon(icon)
        span(class=textClass)
            | &nbsp;&nbsp;
            != text
        block

//- INPUTS

mixin input(id, type, placeholder, label)
    .form-group&attributes(attributes)
        if label
            label(for=id)!= label
        input.form-control(id=id type=type placeholder!=placeholder)
        span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

mixin input-outside-group(id, type, placeholder, label)
    if label
        label(for=id)!= label
    input.form-control(id=id type=type placeholder!=placeholder)&attributes(attributes)
    span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

mixin textarea(id, placeholder, label, rows)
    - rows = rows || 3
    .form-group&attributes(attributes)
        if label
            label(for=id)!= label
        textarea.form-control(id=id rows=rows placeholder!=placeholder)
        span.glyphicon.glyphicon-remove.form-control-feedback.hidden(aria-hidden='true')

mixin chechbox(id, invert)
    .checkbox&attributes(attributes)
        label
            if invert
                span
                    block
                input(id=id type='checkbox')
            else
                input(id=id type='checkbox')
                span
                    block

//- MENUS AND TABS

mixin menu-item(href, title)
    li&attributes(attributes)
        a(href=href)!= title

mixin tab(target, name, icon, alwaysText)
    li(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            if icon
                span.visible-xs.glyphicon(class='glyphicon-' + icon)
            if alwaysText
                span!= name
            else
                span.hidden-xs!= name

mixin tab-mobile(target, icon)
    li.visible-xs(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span.glyphicon(class='glyphicon-'+icon)

mixin tab-simple(target, name)
    li(role='presentation')&attributes(attributes)
        a(href='#'+target aria-controls=target role='tab' data-toggle='tab')
            span!= name

mixin tab-panel(id)
    .tab-pane(id=id)&attributes(attributes)
        .container-fluid
            block

//- WINDOWS

mixin window(id)
    .modal.fade(id=id tabindex='-1' role='dialog' aria-labelledby=id+'-title')
        .modal-dialog(role='dialog')
            .modal-content
                block

mixin window-header(id, title)
    .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        h4(id=id + '-title')
            != title

mixin window-body(id)
    .modal-body(id=id + '-body')
        block

mixin window-footer(id)
    .modal-footer(id=id + '-footer')
        block

mixin window-button(id, text)
    +button(id, text)(data-dismiss='modal')

mixin window-button-no-hide(id, text)
    +button(id, text)

mixin window-button-ok(id)
    +window-button(id+'-ok', erb('l.component.ok'))

mixin window-button-cancel(id)
    +window-button(id+'-cancel', erb('l.component.cancel'))

mixin window-buttons-dialog(id)
    +window-button-ok(id)
    +window-button-cancel(id)

//- OTHER

mixin icon(type)
    span(aria-hidden='true' class='glyphicon glyphicon-'+type)&attributes(attributes)

mixin mobile-top-menu-toggle(id)
    +button(id).navbar-toggle.collapsed(data-toggle='collapse' data-target='#top-menu')
        span.icon-bar
        span.icon-bar
        span.icon-bar

mixin characteristic-bar(size)
    .progress-bar(role='progressbar' style!='width: '+(size || 75)+'%')&attributes(attributes)

mixin characteristic(id, size, name)
    if name
        h6!=name
    .progress&attributes(attributes)
        +characteristic-bar(size)(id!=id + '-bar')

mixin characteristic-large(id, name, type)
    - type = type || 'info'
    h4!= name
    .progress
        +characteristic-bar()(id=id, class='progress-bar-'+type)