include com
include langs
include social-icons

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

        //

        link(href='css/theme.css' rel='stylesheet')
        link(href='css/all.css'   rel='stylesheet')

        link(rel='icon' type='image/png' href='img/logo/16.png' sizes='16x16')
        link(rel='icon' type='image/png' href='img/logo/32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='img/logo/96.png' sizes='96x96')

        link(rel='apple-touch-icon' href='img/logo/120.png')
        link(rel='apple-touch-icon' href='img/logo/180.png' sizes='180x180')
        link(rel='apple-touch-icon' href='img/logo/152.png' sizes='152x152')
        link(rel='apple-touch-icon' href='img/logo/167.png' sizes='167x167')
    body
        nav.navbar.navbar-default
            .container.container-fluid
                .navbar-header
                    +mobile-top-menu-toggle('top-menu-toggle')
                #top-menu.navbar-collapse.collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav.navbar-right
                        +menu-item('#about',   erb('l.menu.about'))
                        +menu-item('#ico',     erb('l.menu.ico'))
                        +menu-item('#docs',    erb('l.menu.docs'))
                        +menu-item('#roadmap', erb('l.menu.roadmap'))
                        +menu-item('#team',    erb('l.menu.team'))
                        +langs.visible-xs
                        li.dropdown.hidden-xs
                            a.dropdown-toggle(
                                href='#'
                                data-toggle='dropdown'
                                role='button'
                                aria-haspopup='true'
                                aria-expanded='false'
                            )
                                img(src='/img/flag.png' height='18px')
                                span.caret
                            ul.dropdown-menu
                                +langs

        .rp-content
            .container
                .row
                    .col-md-12.text-center.rp-hello-container
                        p.rp-hello-spacer
                        h1.rp-hello Right Platform
                        p.rp-hello-hint!= erb('l.about.hint')
                        a(href='#about'): +icon('chevron-down').rp-go-down.hidden-xs

        .rp-content.rb-about
            #about.container
                .row
                    .col-md-12
                        //

        script(src='js/lib/jquery.js')
        script(src='js/lib/bootstrap.js')

        footer.rp-footer
            .container
                .row
                    .col-md-12
                        +social-icons
                .row
                    .col-md-12.rp-copyright-col.text-center
                        span.rp-copyright Copyright Right Platform

        #to-top.to-top.hidden
            +icon('chevron-up')

        //

        script(src='js/all.js')