include com
include langs
include social-icons

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

        //

        link(href='css/theme.css' rel='stylesheet')
        link(href='css/all.css'   rel='stylesheet')

        link(rel='icon' type='image/png' href='img/logo/16.png' sizes='16x16')
        link(rel='icon' type='image/png' href='img/logo/32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='img/logo/96.png' sizes='96x96')

        link(rel='apple-touch-icon' href='img/logo/120.png')
        link(rel='apple-touch-icon' href='img/logo/180.png' sizes='180x180')
        link(rel='apple-touch-icon' href='img/logo/152.png' sizes='152x152')
        link(rel='apple-touch-icon' href='img/logo/167.png' sizes='167x167')
    body
        nav.navbar.navbar-default
            .container.container-fluid
                .navbar-header
                    +mobile-top-menu-toggle('top-menu-toggle')
                #top-menu.navbar-collapse.collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav.navbar-right
                        +menu-item('#about',   erb('l.menu.about'))
                        +menu-item('#ico',     erb('l.menu.ico'))
                        +menu-item('#docs',    erb('l.menu.docs'))
                        +menu-item('#roadmap', erb('l.menu.roadmap'))
                        +menu-item('#team',    erb('l.menu.team'))
                        +langs.visible-xs
                        li.dropdown.hidden-xs
                            a.dropdown-toggle(
                                href='#'
                                data-toggle='dropdown'
                                role='button'
                                aria-haspopup='true'
                                aria-expanded='false'
                            )
                                img(src='/img/flag.png' height='18px')
                                span.caret
                            ul.dropdown-menu
                                +langs

        .rp-content.rp-first-slide
            .container
                .row
                    .col-md-12.text-center.rp-hello-container
                        p.rp-hello-spacer
                        h1.rp-hello Right Platform
                        p.rp-hello-hint!= erb('l.about.hint')
                        a(href='#about'): +icon('chevron-down').rp-go-down.hidden-xs

        .rp-content.rp-about.rp-total-divider
            #about.container
                .row
                    .col-md-12
                        h2 Принцип работы
                        hr
                        img(src='/img/main_di.svg').center-block.rp-diagram
                        h3 RPT - Right Platform Token
                        p ERC20 токен
                        h3 RPO - Right Platform Organization
                        p ERC20 токен
                        h3 RPR - Right Platform Right
                        p ERC20 токен
                        h2 Обмен
                        hr
                        img(src='/img/exchange_di.svg').center-block.rp-diagram
                        h3 Buy
                        p abc
                        h3 Exchange
                        p abc
                        h2 Организации
                        hr
                        img(src='/img/rpo_di.svg').center-block.rp-diagram
                        h3 Controls
                        p abc
                        br
                        h4 M-control
                        p abc
                        br
                        h4 V-control
                        p abc
                        br
                        h4 S-control
                        p abc
                        br
                        h3 Features
                        p abc
                        br
                        h4 Fixed
                        p abc
                        br
                        h4 PoS
                        p abc
                        br
                        h4 Dividends
                        p abc
                        br
                        h4 Final
                        p abc
                        br
                        h4 Replication
                        p abc
                        h2 Права
                        hr
                        img(src='/img/rpr_di.svg').center-block.rp-diagram
                        h3 Properties
                        p abc
                        br
                        h4 Limitable
                        p abc
                        br
                        h4 Mintable
                        p abc
                        br
                        h4 Markable
                        p abc
                        br
                        h3 Features
                        p abc
                        br
                        h4 PoS
                        p abc
                        br
                        h4 Replication
                        p abc

        .rp-content.rp-ico.rp-total-divider
            #ico.container
                .row
                    .col-md-12
                        h2 ICO
                        p abc
                        .rp-ico-time.text-center 01 december 2017

        .rp-content.rp-docs.rp-total-divider
            #docs.container
                .row

        .rp-content.rp-roadmap.rp-total-divider
            #roadmap.container
                .row

        .rp-content.rp-team.rp-total-divider
            #team.container
                .row

        script(src='js/lib/jquery.js')
        script(src='js/lib/bootstrap.js')

        footer.rp-footer
            .container
                .row
                    .col-md-12
                        +social-icons

        #to-top.to-top.hidden
            +icon('chevron-up')

        //

        script(src='js/all.js')